<h1>My Littlest Pet Shop</h1>
<hr size="5" width="20%" color="yellow" align="left">  
<ul>
    {{#each catList}}
    <div>
        <img src="{{imgUrl}}" alt="{{name}}" width="25%" height="35%"><br>
        <h2>{{name}} | {{age}} | <a href="/cats/{{catId}}">More Info</a></h2> 
        <a href="/cats/edit/{{catId}}">Edit Kitty</a><br><br>
        <form action="/cats/delete/{{catId}}" method="POST">
            <button type="submit">Adopted!</button>
        </form>
    </div>
    {{/each}}
    <br>
    <a href="/cats/new">Add Adoptable Kitty</a>
</ul>