<h1>My Littlest Pet Shop</h1>
<form action="/cats/new" method="GET">
    <button type="submit" class="addButton">Add New Kitty!</button>
</form><br>
<div class="tile-container">
    {{#each catList}}
    <div class="catTile">
        <img src="{{imgUrl}}" alt="{{name}}"><br>
        <h3>{{name}} | {{age}} | <a href="/cats/{{catId}}" class="detailsBtn">More Info</a></h3> 
        <a href="/cats/edit/{{catId}}" class="editLink">Edit Kitty</a><br><br>
        <form action="/cats/delete/{{catId}}" method="POST">
            <button type="submit" class="deleteButton">Adopted!</button>
        </form>
    </div>
    {{/each}}
    <br>
</div>
