{{#with foundCat}}
    <img src="{{imgUrl}}" alt="{{name}}" width="50%" height="60%"><br>
    <h2>{{name}}</h2>
    <h3>{{age}} | {{breed}}</h3>
    <p>{{description}}</p>
{{/with}}

<a href="/cats">Return to Available Cats</a>