{{#with foundCat}}
    <img src="{{imgUrl}}" alt="{{name}}" width="50%" height="60%"><br>
    <h2>{{name}}</h2>
    <h3>{{age}} | {{breed}} | {{gender}}</h3>
    <p>{{description}}</p>
    <form action="/cats" method="GET" class="backForm">
        <button type="submit" class="backButton">Back</button>
    </form>
    <form action="/cats/edit/{{catId}}" method="GET" class="editForm">
        <button type="submit" class="editButton">Edit {{name}}</button>
    </form>
{{/with}}